# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=vivero_abre_caminos

# Configuración SAR Honduras (Fiscal)
CAI_SAR_KEY=
RTN_EMPRESA=08011990123456
NUMERO_SUCURSAL=000
NUMERO_TERMINAL=001

# Entorno
NODE_ENV=development
PORT=8000

# WhatsApp
WA_NUMBER=50499999999
